* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {  
  line-height: 1.4;  
  height: 660px;     
  background: url('res/image.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;  
  overflow: hidden;
}

.container {
  margin: auto;
  height: 100%;
  margin-bottom: 0;
  
}

form {
  margin-top: 10%;
}

label {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 25px;
  color: #666;
}